/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .section {
    padding: 50px 20px;
    text-align: center;
  }
  
  /* Unique background colors for each section */
  .educ {
    background-color: #1696d2;
  }

  .about {
    background-color: #e6f7ff;
  }
  
  .projects {
    background-color: #ffebcc;
  }
  
  .skills {
    background-color: #e8f898;
  }
  
  .contact {
    background-color: #f6f4f6;
  }
  
  .project {
    margin: 20px 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }
  